<h2>Login Successfully</h2>

<table>
  <tr>
    <td>url: </td>
    <td><%= url %></td>
  </tr>

  <tr>
    <td>accessToken: </td>
    <td><%= accessToken %></td>
  </tr>

  <tr>
    <td>email: </td>
    <td><%= user.email %></td>
  </tr>

  <tr>
    <td>id: </td>
    <td><%= user.id %></td>
  </tr>

    <tr>
      <td>username: </td>
      <td><%= user.id %></td>
    </tr>


</table>


