<p>(English version below)</p>
<p><%= toUserFirstName %> thân mếm,</p>
<p>
  <%= fromUserFirstName %> từ <%= fromUserLocation %> đang rất cần sự giúp đỡ
  của bạn. Chúng tôi rất biết ơn nếu bạn dành thời gian giải đáp cho thắc
  mắc này.
</p>
<p>
  Bạn có thể trả lời câu hỏi thông qua liên kết sau: <br />
  <a href="<%= questionLink %>" style="text-decoration: underline;"><%= questionLink %></a>
</p>
<p>
  Trân trọng <br />
  Đội ngũ hỗ trợ VCNC
</p>
<br />
<p>Dear <%= toUserFirstName %>,</p>
<p>
  <%= fromUserFirstName %>from <%= fromUserLocation %> has requested your
  help on this problem. We would really appreciate if you can spend your
  time answering this question.
</p>
<p>
  Please click the link below to response: <br />
  <a href="<%= questionLink %>" style="text-decoration: underline;"><%= questionLink %></a>
</p>
<p>
  Sincerely <br />
  VCNC team
</p>